@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  padding-bottom: 30px;
}
.page-header__logo {
  display: block;
  width: 161px;
  margin: 0 auto;
}
.page-header__title {
  display: block;
  width: 220px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "MyriadPro";
  font-style: normal;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-transform: lowercase;
  color: #000000;
}
.page-header__start {
  display: block;
  width: 147px;
  height: 29px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  color: #3b8ede;
  border: 1px solid #3b8ede;
  border-radius: 2px;
}
.page-header__list {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.page-header__item {
  margin-left: 28px;
  font-size: 17px;
  line-height: 24px;
  color: #3d4044;
}
.page-header__item:first-child {
  margin-left: 0;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    width: 715px;
    margin: 0 auto;
  }
  .page-header__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 95px;
  }
  .page-header__title {
    margin: 0;
    margin-top: 40px;
  }
  .page-header__start {
    margin: 0;
    margin-left: 20px;
    margin-top: 47px;
  }
  .page-header__list {
    margin-left: 0;
    margin-right: 0;
  }
}
.form-date {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  margin-top: 20px;
}
.button__close {
  position: absolute;
  top: 1px;
  right: 32px;
  font-size: 0;
  background-image: url("../img/icon-close.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  background-color: #ebebeb;
  border: none;
  border-left: 1px solid #cccccc;
}
.form-date__wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
.form-date__wrap::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  width: 30px;
  height: 30px;
  background-color: #ebebeb;
  border-left: 1px solid #cccccc;
  border-radius: 0 4px 4px 0;
  background-image: url("../img/icon-date_range.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.form-date__title {
  width: 100%;
  margin: 0;
  line-height: 32px;
  text-align: center;
  color: #262626;
}
.form-date__input {
  width: 170px;
  height: 30px;
  padding: 0;
  padding-left: 10px;
  font: inherit;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .form-date {
    flex-wrap: nowrap;
    width: 440px;
    margin-left: 0;
    margin-right: 0;
  }
  .form-date__wrap {
    margin-top: 0;
  }
  #form-date--from {
    margin-left: 15px;
  }
  #form-date--before {
    margin-left: 25px;
  }
}
.photogallery {
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: #f1f1f1;
}
.photogallery__list {
  display: flex;
  flex-wrap: wrap;
  width: 292px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.photogallery__item {
  position: relative;
  width: 292px;
  margin-top: 30px;
}
.photogallery__img {
  display: block;
}
.photogallery__mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 292px;
  height: 292px;
  background-color: #000000;
  opacity: 0.5;
}
.photogallery__video {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 38px;
  height: 30px;
  background-image: url("../img/icon-video.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
.photogallery__box {
  position: absolute;
  left: 0;
  bottom: 0;
}
.button__load {
  display: block;
  width: 124px;
  height: 28px;
  margin: 0 auto;
  margin-top: 44px;
  padding: 0;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 13px;
  background-color: inherit;
}
@media (min-width: 614px) {
  .photogallery__list {
    width: 614px;
  }
  .photogallery__item {
    margin-right: 30px;
  }
  .photogallery__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 936px) {
  .photogallery__list {
    width: 936px;
  }
  .photogallery__item:nth-child(2n) {
    margin-right: 30px;
  }
  .photogallery__item:nth-child(3n) {
    margin-right: 0;
  }
}
.box__table {
  margin-left: 20px;
  font-weight: 500;
}
.box__table--center {
  margin-bottom: 48px;
}
.box__date {
  width: 105px;
  padding: 10px 0;
}
.box__like {
  position: relative;
  width: 75px;
  padding: 10px 0;
  padding-left: 27px;
}
.box__like::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-like.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.box__message {
  position: relative;
  width: 75px;
  padding: 10px 0;
  padding-left: 25px;
}
.box__message::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-message.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.box__wrap__upload {
  margin-bottom: 10px;
  margin-top: 17px;
  text-align: center;
}
